[2021-04-15 12:44] giohappy opened #739 "Missing cache in layers loaded on geonode"
@ElenaGallo commented on [Wed Apr 14 2021](https://github.com/geosolutions-it/geonode-mapstore-client/issues/218)

Displaying a newly added layer the cache is always missing. This is the reason reported in the console:

geowebcache-miss-reason: exception occurred: ParameterException: Style 'states1' is invalid.

![cache.png](https://images.zenhubusercontent.com/5da5b30f66de7b0001e4e77c/4bd07a4e-4a

[2021-04-15 12:48] giohappy commented on #739
closing in favour of https://github.com/GeoNode/geonode/issues/7311

[2021-04-15 12:48] #739 closed

[2021-04-16 14:25] giohappy opened #740 "Cache misses on master demo"
Apparently GWC is not working correctly on master demo. Although everything is configured (correctly to my eyes) we keep receiving cache misses for any layer.

The only trace I could fin from Geoserver logs was the followin:

![image](https://user-images.githubusercontent.com/571129/115038697-0e958c00-9ed0-11eb-9bae-ad681d21e37f.png)

[2021-04-16 14:27] giohappy opened #1198 "Implement Geofence rules per WPS process"
A new process field is required to possibly limit the rule to a specific WPS process.
The new filed must be exposed both on the UI and the Geofence REST API.

![image](https://user-images.githubusercontent.com/571129/115040702-fcb4e880-9ed1-11eb-9151-988f392717d2.png)

[2021-04-16 15:56] afabiani commented on #740
@giohappy currently on master.demo there's something strange happening with the GWC gridsets.

When we upload a new layer, the gridsets bboxes are wrongly generated. By removing the default tailedlayer and recreating it from the geoserver gui, fixes the girdsets too.

See the differences here below:

![image](https://user-images.githubusercontent.com/1278021/115049577-2aeaf600-9edb-11eb-8f39-1a2dd

[2021-04-16 17:02] giohappy commented on #740
@simboss this also happend on an instance of a client (you know who)

[2021-04-20 16:42] afabiani commented on #740
@giohappy @simboss it looks like the issue depends on an outdated GWC configuration shipped with the packaged GeoServer Data DIR.

I did few tests locally by cleanin up all the existing GWC configurations and let GeoServer re-create them. Then I changed back the default tiled layers values as before and saved.
After that, GWC started working as expected. The gridsets are correctly set even for new

[2021-04-20 17:01] simboss commented on #740
@afabiani what do you suggest we do for the server then?

[2021-04-21 08:03] afabiani commented on #740
Hello @simboss , specifically for master demo, but the same solution will work even for other servers affected by this issue, I would suggest to proceed as follows:

1. Stop Tomcat and physically delete from the DATA_DIR `gwc*` folders and files
2. Start Tomcat and let GeoServer recreate the correct GWC configuration and gridsets
3. Configure the default tile settings and global GWC settings
4. Co

[2021-04-21 08:17] giohappy commented on #740
@simboss this is the plan:

 - fix the configuration inside the [geoserver-geonode-ext](https://github.com/GeoNode/geoserver-geonode-ext/tree/2.18.x/geoserver/data/geonode_v218x) repo
 - tag a 2.18.2 geoserver-geonode-ext branch, since currently it's tagged as SNAPSHOT
 - fix Geoserver version to 2.18.2. Currently the image is tagged as 2.18.2 but in in reality it's using a [2.18.x build ](https:/

[2021-04-21 08:42] simboss commented on #740
@giohappy @afabiani I am concerned about people who will upgrade and the relative confusion and noise that this will generate. We can tell everyone to do these steps.

I guess we can move forward with 3.2 and trying to replicate and fix this at the source with 3.2.1.

Opinions?

[2021-04-21 08:47] giohappy commented on #740
@simboss that's why I'd prefer to fix both GWC config and Geoserver version before the relase, because it will harder for users afterwards.

[2021-04-21 08:53] simboss commented on #740
@giohappy not sure what you mean, can you clarify?

[2021-04-21 08:59] giohappy commented on #740
@simboss excluding the deployments done by ourselves with 3.2.x, which will require a manusl fix, all the installs done with the upcoming stable 3.2 will be ok if we fix it before the release.
If we fix it afterwards it will mean that any 3.2 install will need the manual procedure to fix it.

Am I wrong?

[2021-04-21 09:14] simboss commented on #740
maybe, it's me but it is not clear what you are suggesting.

This means, to me, setting a specific version of GWC and GS. Not sure about the purpose.

We fix what and by whom? You are implying that we ask a GS developer to investigate and fix the fact that gridset on new layer on GeoServer are wrong with the current GS config we ship with GeoNode? Or you are just happy with what @afabiani is propo

[2021-04-21 09:20] giohappy commented on #740
@simboss I assume that the fix propsed by @afabiani solve the issue. If you think that this should be investigated further ok, let's keep things as they are. A manual fix will be required in case (as reported by @afabiani)

[2021-04-21 09:22] afabiani commented on #740
@simboss @giohappy currently I have found a way to allow GeoNode fix automatically the gridsets bounds of GWC and therefore fix the Tiled Layer.

Basically, when a layer is created/updated GeoNode already sets the GWC parameters through the REST interface [here](https://github.com/GeoNode/geonode/blob/master/geonode/security/utils.py#L323)

I did test locally that by removing the default extents f

[2021-04-21 10:39] giohappy commented on #740
to recap @simboss:

- There's seem to be some problem in GWC with the bounds that it sets when a new TileLayer is created. I invite @afabiani to open an issue for this and describe what he has found and how it can be replicated. Apparently it doesn't happen always.
- The code snippat that @afabiani suggests to add to GeoNode forces GWC to recalculate the bounds corrently. The snippet removes the b

[2021-04-21 11:18] afabiani commented on #740
For the sake of completeness, find below the differences between the current GWC configuration on the GeoServer-ext DATA folder and a 1.18 vanilla one (after having saved the Caching Defaults by adding the 3857 gridset too).

[code]

[2021-04-21 11:57] simboss commented on #740
I like what I see.
So the plan I suggest is:
- @afabiani to create a jira on GS/GWC to reproduce the issue
- @afabiani to introduce the workaround in GN
- @afabiani to clean the GS config we ship with GN
- we release 3.2

meanwhile we fix the GS/GWC issue and we introduce this fix in 3.2.1.
Opinions?

[2021-04-21 12:24] giohappy commented on #740
we all agree @simboss, our plan is the same :)

[2021-04-21 12:27] simboss commented on #740
cool,
let me reinforce that the following item is a blocker for the rest so it sould go first.

_@afabiani to create a jira on GS/GWC to reproduce the issue_

[2021-04-21 13:20] afabiani commented on #740
@simboss @giohappy I am able to reproduce the issue with a vanilla GeoServer too.

It is an issue related to the Importer plugin, no matter of what configuration of GWC and GridSets we are using.
By importing a layer through the Importer plugin, the GridSets bound of the TiledLayer are wrong.

Notice that in my tests I added **only** the Importer plugin to a vanilla GeoServer WAR.

[2021-04-21 13:25] simboss commented on #740
@afabiani thx, open a detailed JIRA and I will have someone form the GeoServer team chew it.

[2021-04-21 13:32] afabiani commented on #740
@giohappy @simboss

JIRA Issue created: [GEOS-10031](https://osgeo-org.atlassian.net/browse/GEOS-10031)

[2021-04-22 07:55] giohappy commented on #740
I report here the command that can be run to fix existing layers (assuming GeoNode is updated with the code fix)

`python manage.py set_all_layers_metadata -d`

This will force the re-calculation of the bounds.

[2021-04-22 09:05] aaime commented on #740
I see this issue is assigned to me, but looks like you are going ahead with a fix on the GeoNode side. Do I need to have a look at anything here? If so, it looks like it's dependent on a specific GWC configuration, how do I reproduce the issue?

[2021-04-22 09:10] simboss commented on #740
@afabiani created a [jira](GEOS-10031) for this which should give you all the details you need.

We will include this in the next GeoNode release, that is why we are working around this. We can't afford to test another GeoServer upgrade.

[2021-04-22 12:26] simboss commented on #650
@giohappy is this still open?

[2021-04-22 12:26] #425 closed

[2021-04-22 12:51] #650 closed

[2021-04-23 08:17] giohappy opened #750 "Test GeoNode for the official release"
@ElenaGallo a full, deep and wide testing of master demo is requested, in preparation of the official 3.2 release.
In invite you to stress it and, possibly, extend the tests in the spreadsheet.

[2021-04-23 16:26] ElenaGallo commented on #750
@giohappy Here the new [spreadsheet](https://docs.google.com/spreadsheets/d/1GccgMYJJglk_jPA-ED2JZeseFbLWfOcZcqBXmbuS7Tg/edit#gid=376642658). I finish testing next week.

[2021-04-26 14:26] ElenaGallo commented on #750
@giohappy I’m done with the [master.demo tests](https://docs.google.com/spreadsheets/d/1GccgMYJJglk_jPA-ED2JZeseFbLWfOcZcqBXmbuS7Tg/edit#gid=376642658)

[2021-04-26 16:32] ElenaGallo commented on #750
@giohappy tests on lines 62 - 84 and 189 now work for me

[2021-04-29 13:08] #338 closed

[2021-04-30 09:35] giohappy commented on #713
@randomorder according to what have been discussed in [this document](https://docs.google.com/document/d/1ngiCGXLR8j_-YugfwGhkOkX0Dl5NPctelWp4-5W8ZNY) we should proceed quickly with the following instances:

- **stable.demo.geonode.org**: 3.2.x branch
- **master.demo.geonode.org**: master branch

dev.demo.geonode.org will be possibly created for 3.3.x, but I would wait to do it.

[2021-04-30 10:08] giohappy opened #756 "Upgrade GeoNode to Geoserver 2.18.x for 3.2.x branch and to 2.19.x for 3.3.x branch"
3.2.x and 3.3.x must upgrade their Geoserver when it will be available, to incorporate recent fixes to Geoserver.

[2021-04-30 11:01] giohappy opened #757 "CSW must return only Layers by default and other resource types only if explicitely configured"
A severe regression has been introduced with https://github.com/GeoNode/geonode/commit/c665093d949898a7a400a9e713af5a0cd8d1c159 which makes CSW return any Resource (including maps, services, etc.). The expected result, as it was before, is to only return Layers by default. If a specific context (see RNDT) requires additional types of resource a specific configuration should be set.

The `alternate

[2021-04-30 11:17] #757 closed

[2021-04-30 11:17] giohappy commented on #757
Issue moved to [geosolutions-it/C183-ALMAVIVA-2020-GeoNode-DEV #210](https://github.com/geosolutions-it/C183-ALMAVIVA-2020-GeoNode-DEV/issues/210) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-30 11:34] etj commented on #757
CSW filtering is quite complex, and we may need something more flexible wrt only setting a filter on the resource class.

I would consider a generic dictionary
[code]

so that when filtering we can pass the `dict` as a `**kwarg` to the django filter:

[code]

e.g.
if we also want service's we can use django ORM notation:
[code]

[2021-05-05 11:01] giohappy commented on #740
@aaime I see the [Jira](https://osgeo-org.atlassian.net/browse/GEOS-10031) is marked resolved. Is it already backported to 2.18.x?

[2021-05-05 12:06] aaime commented on #740
@giohappy ticket says it is:

![image](https://user-images.githubusercontent.com/325433/117138199-f7e5a500-adaa-11eb-83fb-ba2b9ef93efa.png)

GitHub agrees:

![image](https://user-images.githubusercontent.com/325433/117138240-0a5fde80-adab-11eb-8c50-fb4e95f2f594.png)

[2021-05-05 14:12] #740 closed

[2021-05-13 09:47] giohappy opened #772 "[Upload / Import refactoring] UploadSession API v2 interface: read"
@afabiani commented on [Mon Mar 01 2021](https://github.com/geosolutions-it/nexus-geonode/issues/30)

Let's create a REST API v2 in order to read the upload statuses

[2021-05-13 09:47] giohappy opened #773 "[Upload / Import refactoring] Refactoring of the Upload Page Template"
@afabiani commented on [Mon Mar 01 2021](https://github.com/geosolutions-it/nexus-geonode/issues/32)

 - Make the Upload template/view capable of handling chunked uploads
 - Redirect the user to the `UploadSession` statuses landing page
 - Do not make resources publicly available until the upload has finished setting up the resource
 - Envisage the possibility of cancelling an upload and cleaning

[2021-05-13 09:48] giohappy opened #774 "[Upload / Import refactoring] Summary page where the user can follow the upload statuses"
@afabiani commented on [Mon Mar 01 2021](https://github.com/geosolutions-it/nexus-geonode/issues/31)

Create a landing page able to poll the `UploadSession` REST read APIs and show the statuses of the current ongoing uploads.

[2021-05-13 09:48] giohappy opened #775 "[Upload / Import refactoring] Summary page where the user can follow the upload statuses"
@afabiani commented on [Mon Mar 01 2021](https://github.com/geosolutions-it/nexus-geonode/issues/31)

Create a landing page able to poll the `UploadSession` REST read APIs and show the statuses of the current ongoing uploads.

---

@giohappy commented on [Thu May 13 2021](https://github.com/geosolutions-it/nexus-geonode/issues/31#issuecomment-840448149)

Issue moved to [geosolutions-it/geonode #77

[2021-05-18 12:01] marthamareal opened #786 "Legend repeated twice in preview and Changing the default style from Manage Style causes problems"
## Expected Behavior
- Legend should not display duplicates
- Changing the default style from Manage Style should not affect legend display

## Actual Behavior
On the preview of [this layer](http://ihp-wins.unesco.org/layers/:geonode:a__4205_Humedad), the legend is repeated twice

![dooble legend](https://user-images.githubusercontent.com/56537133/118154611-8e533f80-b417-11eb-97ba-4634343ff33a.gif

[2021-05-19 11:50] agpenton commented on #713
@randomorder Please i need access to where those VMs are located, as well as the CI where the pipeline are.

[2021-05-20 13:36] giohappy opened #790 "Upgrade to Geoserver 2.18.3"
GS 2.18.3 contains several fixes and improvements, also for its integration with GeoNode.
The following steps are required to do the upgrade.

- [x] Deploy the new WAR built from [geoserver-geonode-ext](https://github.com/GeoNode/geoserver-geonode-ext/tree/2.18.3) to Dropbox (for the moment we keep storing the WAR there but we might switch to a better solution in the future)
- [x] Create branch 2.

[2021-05-20 13:38] giohappy commented on #790
@randomorder I've copied the upstream issue here, otherwise you won't see it in your board, filtered by "DevOps" label.
I also report here your latest [comment](https://github.com/GeoNode/geonode/issues/7400#issuecomment-828534153).

- new branch and PR for geoserver-geonode-ext [here](https://github.com/GeoNode/geoserver-geonode-ext/commits/2.18.3) and [here](https://github.com/GeoNode/geoserver-

[2021-05-20 14:37] giohappy commented on #790
@randomorder I'm going to close this since this is a dead task. I will open two new distinct tasks for the upgrade of Geoserver for GeoNode 3.2.x and GeoNode maser

[2021-05-20 14:37] #790 closed

[2021-05-20 14:49] giohappy opened #791 "Upgrade Geoserver 2.18 SNAPSHOT for GeoNode 3.2.x"
We need to include some improvements and fix to Geoserver 2.18.x at least from commit https://github.com/geoserver/geoserver/commit/777175da2905c2fb22668c775694ec8adda0430d

- [x] Build a new WAR from https://github.com/geoserver/geoserver/commit/777175da2905c2fb22668c775694ec8adda0430d
- [x] Replace the WAR of the current Dropbox link https://www.dropbox.com/s/xlich7pmneaupqp/geoserver-2.18.2.war

[2021-05-20 15:04] giohappy opened #792 "Upgrade GeoNode master to Geoserver 2.19.x"
The [work that was started for the upgrade to Geoserver 2.18.3](https://github.com/geosolutions-it/geonode/issues/790) should be done and completed to upgrade the master branch to GeoNode 2.19.1 (that will be released in a few days).

- [x] Create Build Job for GS 2.19.x for GeoNode
- [x] Create new 2.19.1 branches and port the improvements done on 2.18.3 branches of [geoserver-geonode-ext](https:

[2021-05-24 10:28] randomorder commented on #713
stable.demo instance will be hosted on the current master.demo

please report current usage of hardware resources of the master instance here @agpenton
we need to decide if we need to get a dedicated machine to host it

[2021-05-24 12:19] agpenton commented on #713
@randomorder

Resources used in the server.
**space usage:**
[code]

**Memory usage:**
[code]

**CPU usage:**
[code]

Resources used for master-demo stack:

![Screen Shot 2021-05-24 at 16.15.41.png](https://images.zenhubusercontent.com/60099e6b79174e627d511373/722b4839-6885-450c-a0a4-356fe819db8f)

[2021-05-24 13:06] randomorder commented on #713
I though we were deploying a geonode-project from the master branch on master demo @giohappy
instead I see https://github.com/GeoNode/geonode_master.git on the 3.2.x branch

We need to talk about it before moving on with the implementation

[2021-05-24 16:02] randomorder commented on #791
FYI @etj

[2021-05-24 16:16] etj commented on #791
@giohappy I wouldn't keep a fake version name in the file name. It's really misleading.

[2021-05-24 16:41] giohappy commented on #791
As exolained by chat this was just to make things quickly, leaving everything as it is and just bundling a new war for the snapshot.

We have started the clean up of all these things, and I want to continue it on master. If you want to do it for 3.2.x too ok, but in that case all the setup and deployment procedures must be tested again if you change the docker files, compose, etc.

[2021-05-28 08:18] marthamareal opened #808 "[UNESCO IHP-WINS] Search is not working"
## Expected Behavior
User should be able to search resources by title, abstract, and purpose

## Actual Behavior
Search on resource list pages displays wrong results.

## Steps to Reproduce the Problem

  1. Search on http://ihp-wins.unesco.org/layers/

## Specifications

  - GeoNode version: `ihp-wins-geonode-3.2.x`
  - Installation method (manual, GeoNode Docker, SPCGeoNode Docker):
  - Platform

[2021-05-31 10:21] giohappy commented on #713
The current master demo is using branch 3.2.x of geonode_master project, but the master branch of it is [referencing geonode maser](url).

As agreed the new **master** demo will be really the master branch.

[2021-06-03 15:28] randomorder commented on #713
@agpenton please move on with the setup of the new PVH machine carefully documenting each step

[2021-06-03 15:29] randomorder commented on #713
@giohappy @etj I've updated the GDoc with the outcome of our discussion earlier today

[2021-06-04 14:13] afabiani opened #824 "Uploading this layer through the importer on a postgis datstore breaks GeoServer and the datastore"
[_test_layer_error_.zip](https://github.com/geosolutions-it/geonode/files/6599076/_test_layer_error_.zip)

[2021-06-04 14:33] giohappy commented on #824
@afabiani can you attach Geoserver log / dumps?

[2021-06-04 14:39] afabiani commented on #824
[code]

[2021-06-04 16:02] agpenton commented on #713
@randomorder the new server is configured, the stack of geonode-master is migrated, and running. The documentation till this moment I will finish on Monday.
then I will create the CI/CD for the project.

[2021-06-07 12:13] agpenton commented on #713
@randomorder @afabiani about the CI/CD:
- can you explain to me the workflow of the pipeline?
- which images need to be built in the pipeline?

[2021-06-08 14:31] randomorder commented on #713
updates @agpenton ?
please link the documentation for the machine here as well

[2021-06-08 16:24] agpenton commented on #713
@randomorder after the creation of the environment, and spun up with the commands in the documentation, I ran to an issue with geoserver, cause look like is running normal, and suddenly just stop with exit code 143. I mounted the tomcat logs directory and geoserver log directory, which one is empty, then I tried to run an instance of the geoserver image to investigate the cause of why the logs wer

[2021-06-10 08:00] agpenton commented on #713
@randomorder the environment for the new server works well, as the build, yesterday the watchdog was restarting the geoserver.  can you add the IP of the new server to the second domain **stable.demo.geonode.org**, so we can enable the watchdog, and test it.

[2021-06-10 08:03] randomorder commented on #713
this new machine is going to host `master.demo.geonode.org`, not the stable version

what's missing to be able to switch the DNS record from the original machine to this one?

[2021-06-10 08:59] agpenton commented on #713
well, we need to migrate the data from the old server to this one.
Test that everything is ok, and then change the dns record.

[2021-06-14 08:37] giohappy commented on #618
@allyoucanmap is `disablePluginIf` available in geonode mapstore client 2.1.x?

[2021-06-14 13:15] randomorder commented on #713
Updates @agpenton ?

[2021-06-15 09:17] agpenton commented on #713
@randomorder the server is running as expected was an issue with the outdated jars, but now is resolved. the pipeline on the Jenkins server is running normally.

[2021-06-18 11:11] giohappy opened #842 "GeoNode 3.2.1 release"
@ElenaGallo please execute the usual complete test suite.

[2021-06-18 13:21] simboss commented on #842
@giohappy can you put more info on the instance to test?

I want to play with it myself...

[2021-06-18 13:52] ElenaGallo opened #843 "Layers caching problem"
The layer panes are set to 512 by default but the configuration for the cache in GWC is not active and the following dridsets: EPSG: 900913x2 and EPSG: 4326x2 should be set by default when a layer is loaded

[2021-06-18 15:00] giohappy commented on #843
Since the tile size configuration comes from [GeoNode settings](https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L1395), we need to create a dictionay of mappings between sizes and gridsets. In case a the size set doesn't fit with a preconfigured gridset the cache will be bypassed.

[2021-06-18 15:33] giohappy commented on #842
@simboss This version doesn't bring any relevant feature. The most important fixes are:

 - fixed a regression that made lose the permissions set at upload time - [7557](https://github.com/GeoNode/geonode/issues/7557)
 - added missing sld_version to GetLegendGrphics request for remote services - [7580](https://github.com/geonode/geonode/issues/7580)
 - fix to the thumbnail widget inside the metada

[2021-06-18 15:38] simboss commented on #842
Sorry, I was not clear.
Are targeting master.demo? Something else?

[2021-06-18 15:41] giohappy commented on #842
Both instances (master and stable) are the same at the moment, by the way I would go for [http://stable.demo.geonode.org/](http://stable.demo.geonode.org/), in case we make the switch next days (I don't think it will happen though).

[2021-06-18 16:11] ElenaGallo opened #844 "Tiles caching for existing layers"
In the demos, change the tile cache setting for existing layers, they must have 512x512 tiles by default.

Related to #843

[2021-06-21 08:55] giohappy commented on #843
@mattiagiupponi as agreed this is what we should do:

1 - check if 900913x2 and 4326x2 gridsets are configured on your Geoserver's GWC (Tile Caching -> Gridsets)
2 - check wether disabling the [toggle_layer_cache](https://github.com/GeoNode/geonode/blob/347a2053d179721b3dec53410d67757a563114d1/geonode/security/utils.py#L621) makes Geoserver enable all the available gridsets for that layer. Current

[2021-06-22 08:06] giohappy opened #850 "Replace layer error"
Apparently layer replacement throws an error even if the uploaded shapefile name is the same as the layer.

![image](https://user-images.githubusercontent.com/571129/122887939-a769dd00-d341-11eb-937f-3f23839e9c6e.png)

[2021-06-22 08:19] giohappy commented on #850
Invalid. The shapefile must have the same name as the layer to be replaces. This is not the case neither here nor in the tests from @ElenaGallo

[2021-06-22 08:19] #850 closed

[2021-06-22 08:19] giohappy commented on #842
@ElenaGallo please test again LAYERS.17.  The shapefile must have exactly the same name as the layer to be replaced.

[2021-06-22 08:38] afabiani commented on #824
The error happened again with another layer.
Please find below the steps to identify the layer and fix the issue.
I'm attaching the new failing layer too.

[nepal.zip](https://github.com/geosolutions-it/geonode/files/6692666/nepal.zip)

[code]

[2021-06-22 08:53] agpenton commented on #713
@randomorder the monitoring system for the geonode master demo and  geonode stable demo is settled.

master demo http://monitoring.geo-solutions.it/resources?lang=en&tag=GeoNode%3A+master.demo.geonode.org

stable demo http://monitoring.geo-solutions.it/resources?lang=en&tag=GeoNode%3A+stable.demo.geonode.org

[2021-06-22 09:12] ElenaGallo commented on #842
@giohappy the LAYERS.17 test, by entering the same name, passes

[2021-06-22 13:21] giohappy commented on #824
@simboss can we ask someone from the Geoserver team to give a quick look at this? Geoserver for master demo gets mad everyt time a layer with a problematic CRS gets uploaded, and now it's happening frequently!

[2021-06-22 13:32] giohappy opened #851 "Thumbnail not created"
It looks like we have a regression with thumbnails creation, with two apprently unrelated cases:

 - the thumbnail is not created when a layer is uploaded, and nothing is reported inside the logs
 - setting the thumbnail from the Editing tools raise an issue for a missing style:

[code]

The test was done on master demo (branch 3.2.x) with [this shapefile](https://github.com/geosolutions-it/geonod

[2021-06-22 13:40] agpenton commented on #713
@randomorder in master.demo.geonode.org I getting issues with WFS and WMS. Due to these problems with the layers and styles since https://github.com/geosolutions-it/geonode/issues/824, I'm disabling temporary these probes:
- http://monitoring.geo-solutions.it/resource/395?lang=en
- http://monitoring.geo-solutions.it/resource/393?lang=en

till the issue get resolve.

[2021-06-22 14:22] giohappy commented on #713
@agpenton as reported by chat I still see this problem on stable demo:

1 - login to Geoserver as an admin
2 - click on the GeoNode login button in Geoserver
3 - I receive an error

![image](https://user-images.githubusercontent.com/571129/122941772-fd587800-d375-11eb-9445-c859cdbe5d03.png)

![image](https://user-images.githubusercontent.com/571129/122941721-f0d41f80-d375-11eb-9377-b9fdee2a1c24.pn

[2021-06-22 14:42] mattiagiupponi commented on #851
@giohappy
I just tested the layer creation on `master` and `3.2.x` and is working fine. I'm going to try with `geonode-demo` docker

[2021-06-22 14:53] giohappy commented on #713
The redirect uri inside GeoNode had to be changed. Fixed.

![image](https://user-images.githubusercontent.com/571129/122947259-4f030180-d37a-11eb-971b-0dd17f761027.png)

[2021-06-23 11:30] mattiagiupponi commented on #851
After some analysis with @afabiani, we found the issue regarding the Thumbnail creation.
In a nutshell, there was a wrong configuration in GeoServer where it tries to lookup the layer into the master demo instead of the stable demo. @afabiani has already changed the value in GeoServer.

![image](https://user-images.githubusercontent.com/51856725/123089061-c1312000-d426-11eb-8e86-a3581b1a7e28.png)

[2021-06-23 14:58] mattiagiupponi commented on #843
Both fixes are merged (master and 3.2.x)

[2021-06-23 16:32] #851 closed

[2021-06-23 16:32] giohappy commented on #842
@ElenaGallo please give the failed tests a new try on [https://stable.demo.geonode.org/](https://stable.demo.geonode.org/)

[2021-06-24 08:16] randomorder commented on #713
news about the geoserver issue and monitoring?

@agpenton please link here the documentation for both machines (stable and master)

[2021-06-24 08:18] #843 closed

[2021-06-24 08:28] ElenaGallo commented on #842
@giohappy the following tests still fail:

https://docs.google.com/spreadsheets/d/1jNBrsRpp-uGlgDsMuThf_pHdA5M2lgaUgdHKYU-2mcw/edit#gid=893953652&range=39:39

https://docs.google.com/spreadsheets/d/1jNBrsRpp-uGlgDsMuThf_pHdA5M2lgaUgdHKYU-2mcw/edit#gid=260329779&range=21:21

https://docs.google.com/spreadsheets/d/1jNBrsRpp-uGlgDsMuThf_pHdA5M2lgaUgdHKYU-2mcw/edit#gid=1050563143&range=10:10

https://

[2021-06-24 08:31] randomorder commented on #791
war file updated @giohappy

[2021-06-24 10:45] giohappy commented on #842
@ElenaGallo I'm going to set MAPSTORE.25 as passed since the test is not about vieweing the widgets inside the embedded map. It's never been supported. I've create an issue as an enhancment.

[2021-06-24 10:49] giohappy commented on #842
MAPS.21 works fine with English language. The issue is not the setting of the thumbnail but an error inside the widget itself with the Italian translation. What do you expect it to set if it's blank @ElenaGallo? :)
I will mark the test as passed. I've opened an issue for the problem https://github.com/GeoNode/geonode/issues/7700

[2021-06-24 12:24] randomorder commented on #713
Adding to my comment above @agpenton
can you put in place a redirect from the master demo to this page:
http://geonode-back-soon.s3-website-us-west-2.amazonaws.com/redirect.html  ?

Use HTTP temporary redirect instead of permanent (code 302, not 301)

[2021-06-24 12:45] agpenton commented on #713
ok...on it

[2021-06-24 13:00] agpenton commented on #713
done

[2021-06-24 13:37] agpenton commented on #713
master demo
https://docs.google.com/document/d/18PaJTH-Absl7xw4lRkDgBoHkEoyN57dOrpXbCS8mOD0/edit#heading=h.3neyfim0i8xz

stable demo
https://docs.google.com/document/d/1cQ_UTU4N0aTHPQRbqo-0JFwxZavW72R5fgJ0OUiwrtA/edit#heading=h.3f8xflw2zp7e

[2021-06-24 13:46] randomorder commented on #713
Is this just a clone of the original Doc?

[2021-06-24 14:06] agpenton commented on #713
i didn't change anything there.

[2021-06-24 14:14] randomorder commented on #713
please check all my comments in the Doc

[2021-06-25 09:41] giohappy commented on #842
MAPSTORE.36: widgets are not supported for layers, so this test must be removed

[2021-06-25 09:54] giohappy commented on #842
@ElenaGallo as far as I can see the only real issue is https://github.com/geonode/geonode-mapstore-client/issues/274
All the rest is fine, right?

[2021-06-25 10:27] ElenaGallo commented on #842
@giohappy there is still this test: https://docs.google.com/spreadsheets/d/1jNBrsRpp-uGlgDsMuThf_pHdA5M2lgaUgdHKYU-2mcw/edit#gid=1050563143&range=10:10

[2021-06-28 09:48] randomorder commented on #713
still pending @agpenton ?

[2021-06-28 10:07] agpenton commented on #713
the documents are updated, please let me know what else i need to change in the docs.

[2021-06-28 12:15] randomorder commented on #713
still lots of pending comments
are we looking at the same doc?
https://docs.google.com/document/d/1cQ_UTU4N0aTHPQRbqo-0JFwxZavW72R5fgJ0OUiwrtA/edit#heading=h.xxrew09cah1

[2021-06-30 09:49] randomorder commented on #713
@agpenton ? you're making this extraordinarily and unnecessarily painful

[2021-07-01 12:06] afabiani opened #868 "Users cannot register on new portal stable.demo.geonode.org because of invalid reCaptcha keys"
## Expected Behavior
I can register as a new user to the portal.

## Actual Behavior
The signup procedure prevents to register a new user due to reCaptcha issues
![image](https://user-images.githubusercontent.com/1278021/124121541-4e065a00-da75-11eb-9f51-f11ec290cf7c.png)

## Steps to Reproduce the Problem

  1. Go to https://stable.demo.geonode.org/account/signup/
  2. Try to register a new user

[2021-07-01 13:43] randomorder commented on #868
Recaptcha temporarily disabled. Need a hand form Alessio to regenerate the keys

[2021-07-01 14:04] randomorder commented on #868
stable demo updated, recaptcha enabled

Master demo to be updated (waiting for the next code update)

[2021-07-01 14:06] randomorder commented on #868
BTW the recaptcha V2 version in the console administration page [is hidden](https://www.google.com/recaptcha/admin/create) will probably be dismissed soon. We should consider updating the code to support V3 @giohappy @afabiani

[2021-07-01 14:24] afabiani commented on #868
@randomorder I have updated the official documentation

[2021-07-02 12:24] #791 closed

[2021-07-02 12:34] #713 closed

[2021-07-05 07:58] marthamareal opened #878 "Redirect to the new client editor after metadata page update"
## Expected Behavior
The update button should redirect user to client view pages

## Actual Behavior
The update button redirects user to legacy resource view pages

## Steps to Reproduce the Problem

  1. Edit resource Advanced metadata  and click update

## Specifications

  - GeoNode version: nexus_master
  - Installation method (manual, GeoNode Docker, SPCGeoNode Docker):
  - Platform:
  - Addi

[2021-07-06 10:45] giohappy commented on #842
@ElenaGallo what are you trying to do with GEOSTORY.10? Embedded code is meant to be used inside an HTML page. Did you create a page to test it? Can you share the code?

[2021-07-06 13:00] ElenaGallo commented on #842
@giohappy yes, I create [this page](https://github.com/geosolutions-it/geonode/files/6770171/geostory.zip)

[2021-07-06 13:27] giohappy commented on #842
@ElenaGallo it was a configuration to be fixed on the stable demo. It's working now.

[2021-07-06 13:57] ElenaGallo commented on #842
@giohappy yes, now the test has passed

[2021-07-07 12:39] giohappy commented on #842
@ElenaGallo please check LAYERS.39. It should be working now.
This should be the last failed test.

[2021-07-07 12:46] ElenaGallo commented on #842
@giohappy yes, now all tests have passed

[2021-07-07 13:59] giohappy opened #886 "Metadata wizard: mandatory tag does not switch to green"
@etj commented on [Wed Jun 16 2021](https://github.com/geosolutions-it/C183-ALMAVIVA-2020-GeoNode-DEV/issues/248)

"Mandatory" label does not switch to green once the mandatory fields are filled in:

![image](https://user-images.githubusercontent.com/717359/122199248-2a022080-ce9a-11eb-81fa-10658d420ada.png)

---

@giohappy commented on [Wed Jun 16 2021](https://github.com/geosolutions-it/C183-ALM

[2021-07-07 13:59] #886 closed

[2021-07-08 15:51] #878 closed

[2021-07-20 08:02] #842 closed

[2021-07-20 08:02] #618 closed

[2021-07-27 16:07] #220 closed

[2021-07-27 16:12] giohappy opened #909 "Implement async execution of management commands through REST API and GUI"
We want to extend the initial work done with https://github.com/geosolutions-it/django-http-commands and implement the following high level features:

 - async execution
 - (django admin) GUI to execute the commands through REST API

This module must guarantee high security levels, reliability and robustness to timeouts and (very) long running executions.

Please attach analysis and development pl

[2021-07-28 15:31] mattiagiupponi commented on #909
@giohappy
In attach an idea of how to approach this issue. Let's discuss it together

https://docs.google.com/document/d/1VEiDrMLTqgIoLIj_hKT_5eYMfjHD_5ccDJ5f8QZQ5wI/edit

[2021-07-29 17:12] giohappy commented on #909
@asgharsir I invite you to read the resources linked inside the initial description and the notes from @mattiagiupponi.
Please review the proposal from @mattiagiupponi and start to prepare a breakdown for the implementation. Create required issues and attached them to this epic.

Before starting any development on each task share your plan to let @mattiagiupponi review it.

[2021-07-30 10:58] asgharsir commented on #909
I have gone through the resources. Before taking a stock of it I have a question on @mattiagiupponi notes.
Why `/api/v2/` endpoints. Are there some `/v1` endpoints already existing?

[2021-07-30 12:48] mattiagiupponi commented on #909
Hey @asgharsir,
No there are not v1 endpoints available, this is a new-brand project.
In geonode, the V1 API is made with TastyPie, while the V2 with DRF (Django Rest Framework) we want to use this last one.

[2021-08-02 09:31] asgharsir commented on #909
So I have looked into it. I think we do not need to write separate `django.core.management.base.BaseCommand` classes here (as considered in attached resources). Above all requirements (`async`, `admin GUI`, `security`) can be fully achieved with a simpler design:
- **Create-Job-Endpoints**, for only allowed-admins, to choose `CronJobs`, from an available list (of endpoints/command). They may also

[2021-08-02 09:35] #868 closed

[2021-08-02 10:57] mattiagiupponi commented on #909
@asgharsir I'd like to have some specification about that because some of the consideration you did is not so clear for me
The idea behind my proposal was to have a Model, which contains the command already present in geonode with some extra information.
The second model was made in order to track how the job is performing to give feedback to the user. Please consider that this should not be an AP

[2021-08-02 11:05] asgharsir commented on #909
My suggestion is only to avoid a `endpoint > BaseCommand > endpoint > queue` design in favour of `endpoint > queue` design. We will still need such models @mattiagiupponi .

Right, I will open the issues. Thanks.

[2021-08-03 08:12] asgharsir opened #920 "Developing django-http-commands"
Refer Epic #909:
Issue refers to a proposal:

Although the proposal considered the use of the `BaseCommand` to achieve this, however, the issue also recommended the [harvesting implementation](https://github.com/GeoNode/geonode/blob/master/geonode/harvesting/admin.py) to be taken into account which uses Celery `chord`. Although we don't need the `chord` here, because our HTTP management commands w

[2021-08-03 12:41] mattiagiupponi commented on #920
@asgharsir few considerations
- I would to implement all of those feature inside `geonod`e and not as an external app. The idea (as far as i know) is to let `geonode` by as much async as possible, this includes also the commands
- Can you please share some doc about the `cronjobs` in celery (thats is just for my personal knowledge and for some documentation)
- i'd keep separated the admin interfac

[2021-08-03 13:07] afabiani commented on #920
I would change the proposal as follows:

1. Let's extend the GeoNode apis instead of adding and external app as @mattiagiupponi suggested
2. No need for a model to store the commands, we can pass the parameters like django-http-commands already does
3. No need for cron jobs, we need to separate the execution call from the execution itself, that means store the requested parameters somehow and invo

[2021-08-03 15:08] asgharsir commented on #920
By external app do you guys mean `django-http-commands` as an installable apps? That's alright if we have the feature built inside `geonode` itself, because I also had a few design questions on that, but I thought we have some reusability in mind.

But if not a model, then what would you suggest a best way of doing this @afabiani :

And as to:

It also uses the `ManagementCommand` model and tries

[2021-08-04 08:25] mattiagiupponi commented on #920
Yes we mean that this should belong to the core `GeoNode` , is just like another way to handle the current management command that are already in place.

Regarding the model (the `ManagementCommand`) **maybe** as Alessio says is not required.
The actual implementation of `django-http-command` use the model to check if the command is `exposed` but in this case we want to expose all of them. If in s

[2021-08-04 08:35] asgharsir commented on #920
And yes, this might be where I am short of vision. What I understand from resources in the epic, and @mattiagiupponi initial plan, specially the suggested endpoints, we will:
1. secure which commands are allowed and which are not. And we will handle the permissions.
2. users will be able to add jobs, limited to those commands
3. We both had plans to allow params also.

Now when Mattia says "in thi

[2021-08-04 08:40] mattiagiupponi commented on #920
In attach the command list
[commands.txt](https://github.com/geosolutions-it/geonode/files/6929858/commands.txt)

[2021-08-04 09:22] asgharsir commented on #920
Thanks @mattiagiupponi for this list.
This discussion with new facts has really changed my complete perception about the epic. Earlier resources gave me impression:
- We are building a `django-tool` not just a `geonode` tool. Where "users" will create jobs from restricted commands with restricted params.
- I was thinking most of the commands would be what our endpoints do or our future endpoint wo

[2021-08-04 09:30] afabiani commented on #920
@mattiagiupponi yes, we can use Celery, but the Periodic Tasks are not needed IMHO

[2021-08-04 15:24] mattiagiupponi commented on #920
Yes, I'll add also a `GET`, `POST`, `PATCH` endpoint (with drf) regarding the model related to the Jobs in running (at least get to get the current status of the job).
It will be useful to have also a `GET` endpoint to retrieve all the commands available (is possible to use a django utils to read them. `from django.core.management import get_commands` will return a list of the available commands (

[2021-08-04 15:36] asgharsir commented on #920
Sure. I will open a new issue after we settle with the following:

1. Whether to have Jobs model or not (I would favour this)
2. Where to have `views` and `tasks` module. (If we are going for a model, I suggest to create an app of it to structure from URLs to tests everything in there).

[2021-08-04 15:39] mattiagiupponi commented on #920
Agree

Agree, maybe something like `geonode.commands`

[2021-08-04 16:42] asgharsir opened #921 "Developing Commands App for Management Command Jobs via API"
Refer Epic #909:
Issue refers to a proposal:

In short we are developing a feature in which our django management commands can be invoked thru admin actions, as async cronjobs. **So, the brief plan is:**
- We are creating a `geonode.commands` app, with a core function that handles permission and any validation and then call the command. We should be able to use this function from any admin actions

[2021-08-06 07:41] asgharsir commented on #921
This issue Checklist:
- [ ] Create the App
- [ ] Add the endpoint
- [ ] Handle Permissions
- [ ] Add celery task
- [ ] Run celery for manual 'production environment' testing
- [ ] Manual Testing to ensure it is actually non blocking (async)
- [ ] Test the task
- [ ] Test the API

[2021-08-06 08:10] asgharsir opened #922 "Design the CronJob model, GET endpoint and more test"
This issue refers to Epic [#909](https://github.com/geosolutions-it/geonode/issues/909), and is the step after the issue [#921](https://github.com/geosolutions-it/geonode/issues/921):

So we need to design the CronJob model, GET endpoint and more test.

**Model**:
- A timestamped model
- Decision on **`status` field whether it should be fixed choices or without fixed choices**.
- Relate to `user`

[2021-08-06 15:00] mattiagiupponi commented on #922
I'll prefer to use fixed status to explain how the job is performing. Because the `status` in my head could be an Enumerator with:
`QUEUED`, `RUNNING`, `SUCCESS`, `FAILED` which represent the status of the job and not log of the running task. In my opinion, what you want to see is almost how the execution is going, so maybe add a `log` field could be enough.

Since only the administrator will have

[2021-08-12 09:39] #808 closed

[2021-08-12 09:39] #786 closed

[2021-08-25 14:52] ElenaGallo opened #937 "Change style issue on map content in a GeoStory"
The style that has been selected cannot be saved.

**Expected Result**
How it is works on MapStore
![probMS](https://user-images.githubusercontent.com/56537133/130813475-e8de122a-ea53-43b7-b4bc-1f2a30bd0b2c.gif)

**Current Result**
How it is works on GeoNode
![probGN2](https://user-images.githubusercontent.com/56537133/130814200-00586fe0-1b8d-405f-9e34-37a494a66edf.gif)

[2021-08-25 16:14] giohappy commented on #937
@allyoucanmap any hint?

[2021-08-25 16:24] giohappy commented on #937
@ElenaGallo can you share a link to the geostory taht you're testing? We're not able to replicate the issue.

[2021-08-25 16:26] ElenaGallo commented on #937
@giohappy this is the geostory: https://stable.demo.geonode.org/apps/2837/

[2021-08-26 16:05] giohappy opened #938 "Cannot upload datasets on stable demo"
@afabiani I gave you access to the stable demo machine. Can you please check what's happening between GeoNode and Celery?

[2021-08-30 10:46] giohappy commented on #756
@simboss some recent fixes, like [this](https://github.com/geosolutions-it/support/issues/1551), landed in 2.18.x.
We must take a decision if we want to upgrade:

 - GeoNode 3.2.x: to provide the fixes to 3.2.x too (e.g. for MapStand)
 - GeoNode 3.3.x: [upgrade to 2.19?](https://github.com/geosolutions-it/geonode/issues/792) or keep 2.18.x
 - GeoNode master: [upgrade to 2.19?](https://github.com/g

[2021-08-31 09:13] giohappy commented on #922
closing in favour of a new project plan

[2021-08-31 09:13] #922 closed

[2021-08-31 09:13] giohappy commented on #920
closing in favour of a new project plan

[2021-08-31 09:13] #920 closed

[2021-08-31 09:13] giohappy commented on #921
closing in favour of a new project plan

[2021-08-31 09:13] #921 closed

[2021-08-31 09:15] giohappy commented on #938
changes pushed to geonode-demo:

- master https://github.com/GeoNode/geonode-demo/commit/96c9e2b089f13c7512937c7773d8652578993e2c
- 3.3.x https://github.com/GeoNode/geonode-demo/commit/924d6aa5a36a8ec04f1f8e396073d2420995b3ce
- 3.2.x https://github.com/GeoNode/geonode-demo/commit/d976a711f1f94b1d6011879a27d77b9f46e516a7

[2021-08-31 09:15] #938 closed

[2021-08-31 09:17] giohappy commented on #844
@ElenaGallo do you mean changing the settings from the layer settings inside the TOC?

In that case the settings won't be saved, since settings are only saved for maps. Those settings are going to be removed from the TOC for GeoNode master, but we might consider to hide the option for 3.3.x too.

[2021-08-31 09:41] giohappy commented on #909
@italogsfernandes FYI three issues were created and assigned to this epic by the original author. I closed them to clean things up and give you the opportunity to submit your own plan and proposal. In any case you can see the past issues here below, but feel free to design your own approach.

- https://github.com/geosolutions-it/geonode/issues/920
- https://github.com/geosolutions-it/geonode/issue

[2021-08-31 09:43] ElenaGallo commented on #844
@giohappy yes, I mean the settings from the layer settings inside the TOC

[2021-08-31 09:51] giohappy commented on #844
I have created a ticket for an investigation: https://github.com/GeoNode/geonode-mapstore-client/issues/487
I'm going to close this since it's not a bug.

[2021-08-31 09:51] #844 closed

[2021-09-01 09:01] #636 closed

[2021-09-03 12:43] mattiagiupponi opened #948 "Update Documentation for Async execution of management commands"
Referring to #909 once the development is complete is required to add the relative documentation for GeoNode. I would place it under [GeoNode Management Commands](https://docs.geonode.org/en/3.3.x/admin/index.html#geonode-management-commands).

**Both documentation for 3.3.x and master branch must be updated**.

The documentation repository is this -> https://github.com/GeoNode/documentation and i

[2021-09-03 14:05] italogsfernandes opened #949 "Create app for management commands"
Refer Epic #909:
Issue refers to a proposal:

## Proposed Solution
* [x] Explore the [django-http-commands](https://github.com/geosolutions-it/django-http-commands) library to undestand the proposal.
* [x] Create an app called `mngmt_commands_http`.
* [x] Create a decorator `expose_command_over_http` to indicate that a specific command should be exposed or not.
* [x] Implement method to list the e

[2021-09-03 14:24] italogsfernandes opened #950 "Create Endpoints to handle Management Command Jobs"
Refer Epic #909:
Issue refers to a proposal:

## Proposed Solution
In the issue #949, an app was created, not it needs to provide some endpoints and features to manage the Jobs.
* Create an ModelViewSet for ManagementCommandJob.
    * [x] `GET` `/api/v2/management/jobs/`:  **List** jobs, allow filters by `status`, `app_name`, `command_name`.
    * [x] `POST` `/api/v2/management/jobs/{id}`: **Detai

[2021-09-07 10:30] italogsfernandes commented on #949
PR opened: https://github.com/GeoNode/geonode/pull/8052

[2021-09-10 13:33] randomorder commented on #792
This is quite urgent @lpasquali . Please move on with the task ASAP

[2021-09-10 13:35] randomorder commented on #792
@giohappy between title and description there's a mix of 2.19.1 and 2.19.x. We're doing 2.19.x, right?

What should we do in terms of naming convention for artifacts in dropbox?

[2021-09-10 13:36] randomorder commented on #756
Correct me if I am wrong @giohappy :
3.3.x and Master should use GeoServer 2.19.x. GeoPackage plkugin must be added
3.2.x should be updated to the latest nightly of 2.18.x

[2021-09-10 13:37] simboss commented on #756
@randomorder correct

[2021-09-14 09:08] lpasquali commented on #756
To recap I was given this as priority:
- 3.3.x and 2.19.x (add gpkg plugin)
- 3.2.x and 2.18.x
- master to 2.19.x (add gpkg plugin) will then done and logged in dedicated issue #792

[2021-09-14 09:51] giohappy commented on #756
@randomorder @etj please liaise to complete both the upgrades.

[2021-09-14 10:06] etj commented on #756
I guess this link to dropbox  https://github.com/GeoNode/geonode-project/blob/3.2.x/docker/geoserver/Dockerfile#L14
should be pointing to somewhere to the new s3 bucket containing the geoserver-geonode build.

@randomorder is the build server already configured to deploy according to the new directory hierarchy?

[2021-09-14 10:48] randomorder commented on #756
we'll use S3 for the artifacts from now on @etj @lpasquali

[2021-09-16 12:35] lpasquali commented on #756
for 3.2.x
created branches:
- https://github.com/GeoNode/geoserver-geonode-ext/tree/2.18.x/geoserver
- https://github.com/GeoNode/data-docker/tree/2.18.x
- https://github.com/GeoNode/geoserver-docker/tree/2.18.x

[2021-09-16 14:05] lpasquali commented on #756
PR for geonode and geonode-project here:

https://github.com/GeoNode/geonode/pull/8132

https://github.com/GeoNode/geonode-project/pull/237

[2021-09-16 14:07] lpasquali commented on #756
documentation of the (simplified by this work) process: https://github.com/geosolutions-it/DevOps/wiki/Guide-to-upgrade-GeoServer-for-GeoNode

[2021-09-16 15:56] lpasquali commented on #792
PR for geonode-project here: https://github.com/GeoNode/geonode-project/pull/238
PR for geonode here: https://github.com/GeoNode/geonode/pull/8127

[2021-09-17 07:40] randomorder commented on #756
moving on with the upgrade of GeoServer on [https://development.demo.geonode.org/](https://development.demo.geonode.org/)

[2021-09-17 11:15] randomorder opened #967 "Issue Development Demo - Layers upload"
Devel Demo running 3.3.x. We've just updated GeoServer to 2.19.x

To reproduce:
Upload a new layer. The layer does not show up (I've attached a sample shape but any file seem to allow to reproduce it)
Layer is created but it does not work.

Extracted exception from GeoServer:
[code]

![image](https://user-images.githubusercontent.com/5264230/133773829-ac6e2147-ee07-4a7b-a250-3012717da9a2.png)

![i

[2021-09-17 13:04] afabiani commented on #967
Versions on `pom.xml` / `dependencyManagement` must be aligned with the official GeoServer ones

e.g.: https://github.com/GeoNode/geoserver-geonode-ext/blob/2.19.x/geoserver/pom.xml#L989

The line above declares a wrong `geotools` version.

[2021-09-17 14:42] randomorder commented on #967
thanks

resolved by https://github.com/GeoNode/geoserver-geonode-ext/commit/5e2d9e07728ed6f8cf19960ac0ea83fe7871152e

[2021-09-17 14:42] #967 closed

[2021-09-20 12:48] randomorder commented on #756
did you test on your end @lpasquali ? If that's the case pass the ball to @giohappy and @ElenaGallo please

[2021-09-20 12:49] randomorder commented on #792
did you test on your end @lpasquali ? If that's the case pass the ball to @giohappy and @ElenaGallo please

[2021-09-20 12:50] lpasquali commented on #792
I am don ehere on my side @randomorder

[2021-09-21 08:09] lpasquali commented on #756
@randomorder I applied out check list (leaving the "production only steps" out like changing django secrets from the mocking ones and so on) on 3.3.x and 3.2.x geonode projects, as well build and run the compose in geonode repository, besides that I tested geopackage basic functionality for 3.3.x, results of such test needed an issue about geonode-mapstore-client https://github.com/GeoNode/geonode

[2021-09-21 13:40] giohappy opened #971 "Implement mobile detection in GeoNode"
@giohappy commented on [Tue Sep 21 2021](https://github.com/geosolutions-it/C183-ALMAVIVA-2020-GeoNode-DEV/issues/272)

Implement mobile browser detection and provide and provide it to any template context. This will be employed to apply different processing to templates in case they're viewed from mobile.

Something similar to the [MobileDetectionMiddleware](https://github.com/gregmuellegger/djan

[2021-09-21 13:40] #971 closed

[2021-09-21 13:53] randomorder commented on #756
aside from the geonode-mapstore-client issue the task is done @lpasquali ?

[2021-09-21 14:11] lpasquali commented on #756
@randomorder yes

[2021-09-22 08:27] giohappy opened #972 "Migrate manual testing to Cucumber Studio"
@ElenaGallo we already had a project for GeoNode on Cucumber, but I suppose the scenarios and tests are stale.
I've renamed it to [GeoNode 3.2.x](https://studio.cucumber.io/projects/192843).

We need to:

1. align scenarios and tests to the spreadsheet that you're currently using
2. clone two new projects GeoNode 3.3.x and GeoNode master, where we will add the new features (e.g. dashboards, annota

[2021-09-24 13:48] giohappy opened #973 "Test the upgrage to Geoserver 2.19.x"
@ElenaGallo we need to run a full test of https://development.demo.geonode.org, considering also the upgrade to Geoserver 2.19.x.
Please adtopt and integrate Cocumber for this run (let me know when you're done with GN 3.2.x project so that I can clone the new one for GN 3.3.x).

FYI we already found a problem with the Style Editor. New styles cannot be editated because of an [issue](https://github

[2021-09-24 15:52] ElenaGallo commented on #972
@giohappy the [GeoNode 3.2.x](https://studio.cucumber.io/projects/192843) test project is now update, also with the geostory.

[2021-09-27 13:57] giohappy commented on #972
@ElenaGallo [Geonode 3.3.x](https://studio.cucumber.io/projects/291214) project is ready. Please fil it with the new tests.

[2021-09-28 13:15] ElenaGallo opened #985 "The user with edit permission cannot save the changes made"
## Expected Behavior
The user with edit permission can save changes made on map  and geostory

## Actual Behavior
The user with edit permission cannot save the changes made on map  and geostory.
Error on console:

## Steps to Reproduce the Problem

  1. Login as admin
  2. Create a map/geostory
  3. Enable the edit permission for a user
  4. Login with the user credential
  5. Open the map/geostor

[2021-09-30 08:30] giohappy commented on #950
@italogsfernandes I will close this once the port to master is done

[2021-09-30 08:42] giohappy commented on #949
closing in favour of https://github.com/GeoNode/geonode/issues/7976

[2021-09-30 08:42] #949 closed

[2021-09-30 08:43] giohappy commented on #950
closing in favour of https://github.com/geonode/geonode/issues/8158

[2021-09-30 08:43] #950 closed

[2021-09-30 08:45] giohappy commented on #948
closing in favour of https://github.com/GeoNode/documentation/issues/160

[2021-09-30 08:45] #948 closed

[2021-09-30 15:57] ElenaGallo commented on #972
@giohappy the new [Geonode 3.3.x](https://studio.cucumber.io/projects/291214) project is update with new tests.

[2021-09-30 15:59] ElenaGallo commented on #973
@giohappy Tests done for the **development.demo.geonode**, [here](https://studio.cucumber.io/projects/291214/test-runs/594516/folder-snapshots/5991230) the test run.

[2021-10-04 12:46] #756 closed

[2021-10-04 12:46] randomorder commented on #792
closing @giohappy
If there os anything left to do please let me know

[2021-10-04 12:46] #792 closed

[2021-10-11 13:30] giohappy commented on #985
I could reproduce it and I see some problems.

@afabiani [this layer](https://stable.demo.geonode.org/maps/3227) has full edit permission for some users. I added myself too for a test.

1 - WFS-T is still denied for those people
2 - no rules were created for my user (giohappy)
3 - when opening the page as one of those users [the request](https://stable.demo.geonode.org/security/permissions/3227) t

[2021-10-11 13:30] #985 closed

[2021-10-11 13:46] afabiani commented on #985
If you want to allow a user to change a map or geostory configuration, currently the only way is to make it owner of it. There's no way from the gui to allow `write` permissions on such resources

![image](https://user-images.githubusercontent.com/1278021/136800964-2b75c5b7-a8f6-419c-8422-5dd255f72849.png)

[2021-10-11 14:11] ElenaGallo commented on #985
@giohappy @afabiani
when as a user I have not allowed to edit (only view) the Edit Tools panel is not available and by opening the geostory it is only possible to save as a new gesotory (save as button), see gif below:
![view](https://user-images.githubusercontent.com/56537133/136804813-18722a4c-694b-4c7b-a296-69ed4240446b.gif)

When as a user I have the possibility to editthe Eidt Tools panel is

[2021-10-11 14:26] giohappy commented on #985
@afabiani I confirm that on geostory I get an error as a user with manage permissions:

1. geostory
2. Edit
3. Save
4. PATCH 403 Forbidden

[2021-10-12 10:52] giohappy commented on #985
Issue created https://github.com/GeoNode/geonode/issues/8232

[2021-10-19 11:02] giohappy commented on #985
@ElenaGallo plese test again on development. I'm going to update stable asap.

[2021-10-19 16:20] giohappy opened #1022 "Test annotations on GeoNode 3.3.x"
@ElenaGallo please create a test (if it doesn't exist) for annotations both on 3.3.xs and master, and execute it.
In particular check that this issue is solved https://github.com/GeoNode/geonode-mapstore-client/issues/484

[2021-10-20 09:03] ElenaGallo commented on #973
@giohappy tests pass for both annotation issues and editing style.

[2021-10-26 15:17] #1022 closed, assigned to ElenaGallo

[2021-10-27 12:33] #289 closed, assigned to cezio

[2021-10-27 12:33] #292 closed, assigned to cezio

[2021-10-27 12:42] #295 closed, assigned to etj, afabiani

[2021-10-27 15:34] giohappy opened #1030 "Tests for the release of GN 3.3.0"
@ElenaGallo we are ready to run a full test of https://development.demo.geonode.org/ in view of the release of GN 3.3.0 next week.

Issues:

- mobile
  - [x]  [video](https://studio.cucumber.io/projects/291214/test-runs/605303/folder-snapshots/6156164/scenario-snapshots/21581429/test-snapshots/29431160) https://github.com/geonode/geonode/issues/8322
  - [ ] **CAN'T REPRODUCE** [map TOC](https://st

[2021-11-02 10:40] afabiani opened #1039 "Dynamic permissions set from the APIs"
The goal would be allow the frontend to dynamically set the list of available permissions for a certain resource type
![image](https://user-images.githubusercontent.com/1278021/139829752-a7e39f2e-1460-45cb-b6aa-b86ac4b69c95.png)

We would like to avoid putting a lot of static conditions on the frontend side in order to render the list above.

The proposal is to:

1. Add a new node to the resource

[2021-11-02 14:33] afabiani commented on #1039
Refining the proposal for the backend endpoints

`http://localhost:8000/api/v2/resources/resource_types`

[code]

[2021-11-02 14:47] allyoucanmap commented on #1039
@afabiani I think the default permission of the resource are missing  ?
[code]

[2021-11-03 11:28] afabiani commented on #1039
* Backend ticket on GeoNode: https://github.com/GeoNode/geonode/issues/8300

[2021-11-04 16:43] ElenaGallo commented on #1030
@giohappy I added to Cucumber also the the test for [carousel, geocoding, mobile](https://github.com/geosolutions-it/C183-ALMAVIVA-2020-GeoNode-DEV/issues/295#issuecomment-959783901). Some test failed for mobile ( see [here](https://studio.cucumber.io/projects/291214/test-runs/605303/folder-snapshots/6156164) )

[2021-11-05 10:53] giohappy commented on #1030
@ElenaGallo I can't reproduce the problem with the download of mp3. See video below. How can I replicate it?
![export mp3 on mobile](https://user-images.githubusercontent.com/571129/140499778-8311e840-23fe-4dc0-9680-4a3cdc8c5c9e.gif)

[2021-11-05 11:21] ElenaGallo commented on #1030
@giohappy which test are you referring to?
For documents on mobile the problem is just this:
* The video preview is not displayed correctly. Open the follows video document on mobile: https://development.demo.geonode.org/documents/77 and see picture attached below.ù

![video](https://user-images.githubusercontent.com/56537133/140502920-20eabdfc-7cb3-4049-bfde-24a2865e8a1b.gif)

[2021-11-05 11:24] giohappy commented on #1030
@ElenaGallo I'm referring to https://studio.cucumber.io/projects/291214/test-runs/605303/folder-snapshots/6156164/scenario-snapshots/21581429/test-snapshots/29431160 where, at the last step you marked:

![image](https://user-images.githubusercontent.com/571129/140503439-68f7daad-62f3-4e10-ae57-1cd0fb5956be.png)

[2021-11-05 11:29] ElenaGallo commented on #1030
ok, I didn't explain myself well. I always put a comment above the test when it fails
![xxxxx](https://user-images.githubusercontent.com/56537133/140503955-b533b5ed-a80a-4aec-9980-98500686edc0.png)
.

[2021-11-05 11:45] giohappy commented on #1030
ok, thx for the clarification @ElenaGallo. In that case you should split the tests. One for the visualization and one for the download.

[2021-11-05 12:15] ElenaGallo opened #1040 "Downloading a layer with quick filter causes an error"
If the qiuck filter is enabled on the attribute table the download will not work.

Error on console:

Parsing failed for PropertyIsLike: java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Boolean
java.lang.String cannot be cast to java.lang.Boolean</ows:ExceptionText></ows:Exception></ows:ExceptionReport></wps:ProcessFailed></wps:Status></wps:ExecuteResponse>

**How to repr

[2021-11-05 12:31] ElenaGallo opened #1041 "The final file extension is incorrect when exporting data from the attribute table"
By exporting data (GeoJson, GeoPackage, CSV, Shapefile, wfs-collection-1.1 and wfs-collection-1.1) from the Attribute Table the fianl file is on `tif` extension.

**How to Reproduce**
Follows the steps on the gif below:

![2](https://user-images.githubusercontent.com/56537133/140510340-fb4209e7-4c5d-446b-a815-2009db4a6b50.gif)

## Other useful informations
On GeoNode 3.3.0

[2021-11-05 12:32] ElenaGallo commented on #1040
@simboss here the issue of filtered download bug

[2021-11-05 12:32] ElenaGallo commented on #1041
@simboss here the issue of final file extension download bug

[2021-11-05 13:19] #1040 closed

[2021-11-05 13:19] giohappy commented on #1040
Issue moved to [geosolutions-it/geonode-mapstore-client #252](https://github.com/geosolutions-it/geonode-mapstore-client/issues/252) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-05 13:20] #1041 closed

[2021-11-05 13:20] giohappy commented on #1041
Issue moved to [geosolutions-it/geonode-mapstore-client #253](https://github.com/geosolutions-it/geonode-mapstore-client/issues/253) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-05 14:33] giohappy commented on #1030
@ElenaGallo did you remove the layers for the [USA dashboard](https://development.demo.geonode.org/apps/14/view#/) that you were mentioning in the tests? The underlying layer seems to be removed. Can you please recreate it?

[2021-11-05 17:00] giohappy commented on #1030
@ElenaGallo I'm not able to reporodue the issue with the TOC of the map that you reported (https://github.com/geonode/geonode/issues/8323). What device and browser are you using?

[2021-11-05 17:19] ElenaGallo commented on #1030
@giohappy https://github.com/GeoNode/geonode/issues/8323#issuecomment-962074383

[2021-11-11 15:31] giohappy commented on #1030
@ElenaGallo in[ this failed test](https://studio.cucumber.io/projects/291214/test-runs/605303/folder-snapshots/6123724/scenario-snapshots/21480106/test-snapshots/29281242) you report that widgets interactions are not working, and apparently you're saying that his happens when the map is viewed through shared link. However, it seems that interaction between widgets are not working in any case.
Do y

[2021-11-12 08:46] ElenaGallo commented on #1030
@giohappy yes, you are right when the dashboard is saved the interactions don't work. I had tested an unsaved dashboard and in this case the interactions work, look at the following gif:

![dash](https://user-images.githubusercontent.com/56537133/141437741-990fbbe5-6104-4653-a8be-50b4a323132c.gif)

[Here](https://studio.cucumber.io/projects/291214/test-runs/605303/folder-snapshots/6123723/scenario

[2021-11-12 15:27] giohappy commented on #1030
@ElenaGallo The identify for dashboards are disabled on mobile (small screens) by design (see point 3 in https://github.com/geosolutions-it/MapStore2/issues/4150). Remove it from the tests for mobile.

[2021-11-12 17:00] giohappy commented on #1030
@ElenaGallo see the list of closed issues and rerun the tests for them.

[2021-11-15 10:15] giohappy commented on #1030
@ElenaGallo exlcuding the printing of annotations and the issue you reported with the TOC on mobile (we weren't able to reproduce it) all the rest should be fixed.
Please rerun the failed tests.

[2021-11-15 15:10] ElenaGallo commented on #1030
@giohappy All the tests reported on this epic now pass.

[2021-11-18 14:39] #1030 closed

[2021-12-22 11:35] #1039 closed

[2022-01-17 11:50] giohappy opened #1132 "Test GeoNode master test scenarios"
@Stella-Nthenya I invite you to execute the full suite of scenarios for the [GeoNode master Cucumber Studio project](https://studio.cucumber.io/projects/293168).

Please report feedback for each execution:

 - were you able to understand the test?
 - were you able to execute it?
 - does each scenario cover signle or multiple stories?
 - do you think the scenario should be split, improved, etc.?

Y

[2022-01-27 18:59] randomorder opened #1139 "GeoNode documentation for docker-compose out of date"
Documentation [here](https://docs.geonode.org/en/master/install/advanced/core/index.html#override-the-env-variables-to-deploy-on-a-public-ip-or-domain) seems to be outdated

Among other things it's referencing 3.2 and advising to use a docker-compose override instead of .env file

[2022-01-29 14:15] giohappy opened #1140 "Test Geonode 3.3.x for release"
@ElenaGallo we need to run the full test suite on development demo (3.3.x), to prepare the release of version 3.3.1.

[2022-01-31 08:59] giohappy commented on #1140
@ElenaGallo please add a test for the correct initialization of the timeline histogram for vector time series (see https://github.com/GeoNode/geonode-mapstore-client/issues/756 and https://github.com/GeoNode/geonode-mapstore-client/issues/757)

[2022-01-31 09:01] giohappy opened #1148 "Test Geonode 3.2.x for release"
@ElenaGallo we need to run the full test suite on development demo (3.2.x), to prepare the release of version 3.2.3.

Add a test as reported in this comment https://github.com/geosolutions-it/geonode/issues/1140#issuecomment-1025510817

[2022-01-31 11:20] giohappy opened #1149 "Prepare a proposal to improve the communication between devs and testers"
Until now there wasn't a structured way to align news and changes to GeoNode features to the manual tests (BDD on Cucumber Studio now). An informal communication was done when a new test had to be run before a release (GeoNode release or customer specific project). This approach is falling short now for several reasons:

 - we want to test changes and news as soon as they get merged (and deployed

[2022-02-01 09:48] giohappy commented on #1149
@Stella-Nthenya we migh even include some GitHub automation (actions / workflows) to support the tracking of issues that need a review + testing from testers. I'll let you think about it, but a mix of actions based on pushes and ad-hoc labels could, for example, create automatic comments to invite testers to review the issue, send notifications, block the autoclose of an issue, whatever...

[2022-02-01 10:09] Stella-Nthenya commented on #1149
Sure @giohappy, some automation is needed. Let me review my document and send you my proposal with that in addition.

[2022-02-01 13:54] Stella-Nthenya opened #1150 "Missing resource type for some uploaded datasets"
### Steps to reproduce

1. Upload [this dataset](https://app.zenhub.com/files/23841932/f4c5d9e7-c27b-48c6-9d5d-9ad8eea3fa44/download)
2. Verify that it has been assigned the correct resource type

### Expected Behaviour
The `dataset` resource type is assigned.

### Actual Behaviour
resource type is missing.

[2022-02-01 14:02] giohappy commented on #1150
@marthamareal apparently this happens becuase of the additional files contained inside the sample dataset. If only the 4 files for the shapefile are uploaded the resource_type is correctly assigned.

Also notice that the dataset is correctly imorted in Geoserver, and the thumbnail is created.
I suspect that an exception occurs during the processing of the additional files and the resource_type ass

[2022-02-01 14:11] Stella-Nthenya opened #1151 "Admins can view a dataset uploaded by the MAIN ADMIN but can not view its map layers"
### Steps to Reproduce

1. Log in as the main admin
2. Upload a dataset as the Main Admin
3. Set the permissions to None for both anyone and registered members
4. Log out and log in from another admin account
5. View the uploaded dataset(s)

### Expected Behaviour
Other admins should be able to view the datasets uploaded by the main admin in totality. i.e. the thumbnail, metadata, info, abstract,

[2022-02-01 14:47] giohappy commented on #1151
Geofence roles map to GeoNode groups, and currently we don't have a group for admins.
The initial work done to use Django groups as roles (and not only for organizations) was started when the "contributors" group was introduced. We should probably extend it to admins, and assign the default rule for datasets to and admin role rather then a single admin user.

This will take quite some work, so it

[2022-02-01 16:52] giohappy commented on #1150
closing in favour fo https://github.com/geonode/geonode/issues/8721

[2022-02-01 16:52] #1150 closed

[2022-02-02 16:33] giohappy commented on #1148
@Stella-Nthenya can you please review the failed tests from @ElenaGallo?
I invite you to replicate them and open any issue. Please attach the issues to this epic.

[2022-02-02 16:37] giohappy commented on #1140
@Stella-Nthenya can you please review the failed tests from @ElenaGallo?
I invite you to replicate them and open any issue. Please attach the issues to this epic.

[2022-02-02 19:48] Stella-Nthenya commented on #1140
The following testcases are working;
1. This [Testcase](https://studio.cucumber.io/l/ts/30817638) has passed, see drive link [demo](https://drive.google.com/file/d/1QxCN0AC6q8avaVyjxphdmQXAJzRXoVEo/view?usp=sharing)
2. This [Testcase](https://studio.cucumber.io/l/ts/30817727) has passed, see drive link [demo](https://drive.google.com/file/d/1UVmRD02ntdJJV5AKpD8__22BSghlZgXP/view?usp=sharing)
3. Th

[2022-02-03 08:46] ElenaGallo commented on #1140
@giohappy @Stella-Nthenya now the three cases above work for me too.

[2022-02-03 10:20] giohappy commented on #1140
@Stella-Nthenya are all the tests working now? If not please open the issues.

[2022-02-03 11:04] Stella-Nthenya opened #1152 "Annotations added to a map are not saved"
## Expected Behavior
Annotations added to a map should be viewable from on the map area when a user;

- navigates back to the map at any time
- refreshes the map page after saving the added annotations

## Actual Behavior
Annotations are not viewable after creation + saving.

## Steps to Reproduce the Problem

  1. Create an annotation
  2. Make any necessary edits and styling
  3. Click on save

[2022-02-03 11:04] Stella-Nthenya commented on #1152
@giohappy kindly help review and assign this issue

[2022-02-03 11:34] ElenaGallo commented on #1148
@giohappy I tested the stable demo, [here](https://studio.cucumber.io/projects/192843/test-runs/633696/folder-snapshots/6470609) the result of the test run 3.2.x.

I only found  [this problem](https://studio.cucumber.io/projects/192843/test-runs/633696/folder-snapshots/6470646/scenario-snapshots/22646757/test-snapshots/31113627) also found on 3.3.x and another problem is that many layer thumbnails

[2022-02-03 11:42] Stella-Nthenya commented on #1152
This affects printing of maps with annotations too,

[2022-02-04 17:35] giohappy commented on #1152
@Stella-Nthenya please open the issues on the upstream repo, and connect them to the test epic.
See how I did it for this one, which I'm closing in favour of https://github.com/GeoNode/geonode/issues/8743

[2022-02-04 17:35] #1152 closed

[2022-02-09 09:05] giohappy opened #1164 "Test GeoNode master for release Alpha"
https://studio.cucumber.io/projects/293168

[2022-02-11 09:43] giohappy commented on #1149
@marthamareal I invite you to read what [Stella wrote](https://drive.google.com/file/d/1r1z1REsShlXAKXFNBTxKSoMx_ZUebuR-/view?usp=sharing), inc ase there's something useful

[2022-02-14 08:34] marthamareal opened #1172 "Create advanced workflow QA test cases"

[2022-02-14 09:09] marthamareal opened #1173 "Review/update available test cases on Cucumber"

[2022-02-14 09:11] marthamareal opened #1174 "Create Quality Assurance Plan"

[2022-02-15 09:20] marthamareal commented on #1164
This Test currently has two failing test runs and are blocked by the following issues listed in the epic:
- geonode-mapstore-client #824
- geonode #8810

[2022-03-02 12:39] afabiani opened #1188 "Align print-lib to the latest version"
Update GeoServer WAR accordingly to the following updates:

https://github.com/geosolutions-it/mapfish-print/pull/49#issuecomment-1050740175

[2022-03-02 16:17] #1188 closed

[2022-03-08 11:31] #1148 closed

[2022-03-08 11:31] #1140 closed

[2022-03-08 11:36] simboss commented on #1198
@etj I see an immediate need and a more longer term need.

1. we need ASAP the ability to just disallow users to downloa data via WPS; this means we need the ability to manage permissions on single processes
2. it would be good to also be able to impose per user values on the process limits

The plan and estimates should take into account first 1 and then 2.

[2022-03-08 11:37] simboss commented on #1198
Let's take into account also MapStore GUI work for anything we do.

[2022-03-14 13:36] marthamareal opened #1204 "Test Advanced workflow implementation"

[2022-03-16 09:25] #1173 closed

[2022-03-23 11:59] giohappy opened #1215 "Setup 2.20.x build for GeoNode"
Upstream issue https://github.com/GeoNode/geonode/issues/8981

I'm opening this as an internal issue to discuss the configuration of our Jenkins builds.

[2022-03-24 15:58] EddyCatt opened #1216 "UNMISS WMTS service to be used as basemap"
We've received from UN 3 remote service, ArcGIS based, to be consumed as basemaps within GeoNode UNMISS platform.
GeoNode version is 3.2.4

After some tests, we found out that those services are not working on UN GeoNode while they're fine in QGIS.
Below the received errors:
1.
https://dev-ags1.dfs.un.org/arcgis/rest/services/UNMISS_Custom_Basemap/MapServer
GeoNode ArcGIS Rest Service : We were ab

[2022-03-25 10:43] giohappy commented on #1216
@EddyCatt GeoNode version?

[2022-03-29 09:25] giohappy opened #1224 "Build Geoserver 2.19.x for Geoserver with KMLPPIO plugin"
We need to ship Geoserver 2.19.x for GeoNode ((and 2.20.x [afterwards](https://github.com/geosolutions-it/geonode/issues/1215)) with the [KMLPPIO plugin](https://build.geoserver.org/geoserver/2.19.x/community-latest/geoserver-2.19-SNAPSHOT-kmlppio-plugin.zip).

A new [build of the Geoserver 2.19.x war](https://build.geo-solutions.it/jenkins/view/GeoNode/job/GeoNode-GeoServer-EXT-2.19.x/) is needed

[2022-03-30 12:30] randomorder commented on #1224
Ok @giohappy the plugin is in the GeoServer 2.19.x already
I had a go with @aaime on [stable geonode](https://stable.demo.geonode.org/maps/new?layer=geonode:Asansol&view=True#/)

![image](https://user-images.githubusercontent.com/5264230/160833816-d623c091-a6cf-4d37-9672-04aaadb5cfb5.png)

KML is not there so I have tweaked the outputformat from the CSV request
![image](https://user-images.githubu

[2022-03-31 07:54] #1224 closed

[2022-03-31 13:33] marthamareal opened #1225 "Test Upgrading from 3.x to 4.x"
- Start a project on 3.x
- Create resources (layers, maps, documents,geoStories and dashboards)
- Upgrade to 4.x
- Test listing, updating and deleting resources created with 3.x

[2022-04-01 17:15] marthamareal commented on #1225
@giohappy The error

`django.db.utils.IntegrityError: update or delete on table "geoapps_geoapp" violates foreign key constraint "geoapp_geostories_ge_geoapp_ptr_id_2a57fe28_fk_geoapps_g" on table "geoapp_geostories_geostory"
DETAIL:  Key (resourcebase_ptr_id)=(2) is still referenced from table "geoapp_geostories_geostory".`

resulting from upgrading project from 3.3.x  to 4.x when having resource

[2022-04-01 17:35] giohappy commented on #1225
so this confirms the issue we saw yesterday. Open an issue and assign it to yourself.

[2022-04-04 07:39] marthamareal opened #1232 "Integrity db error between geoapps tables on upgrade from 3.x to 4.x"
## Expected Behavior
- User should be able to perform all actions on available data after upgrading from 3.x to 4.x

## Actual Behavior
- An integrity error is raised when a user tries to delete a geoapp/dashbord which was created with 3.x after upgrading to 4.x.
- With dashboards, in 3.3.x, we assign polymorphic_ctype = dashboard hence on retrieving it after an upgrade, the error 'NoneType' objec

[2022-04-05 14:55] giohappy commented on #1216
@EddyCatt in breif:

 - WMS for basemaps is already supported. It requires a configuration inside `DEFAULT_MS2_BACKGROUNDS` [GeoNode settings](https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L1455).
 - WMTS basemaps require an [enhancement](https://github.com/GeoNode/geonode-mapstore-client/issues/280) that was already in the backlog
 - ArcGIS Mapserver... MapStore can show ArcG

[2022-04-08 16:47] marthamareal opened #1233 "Test GeoNode 4.x for release 4.0RC1"

[2022-04-11 07:47] ElenaGallo commented on #1233
Hi @marthamareal @giohappy, I have created a new [test run](https://studio.cucumber.io/projects/293168/test-runs/654108/overview). If there are no problems I proceed to run it.

[2022-04-11 08:04] marthamareal commented on #1233
@ElenaGallo i was also planning to add test-cases for `Harvesters`, @giohappy can you confirm that we need to also test this feature for this release.

[2022-04-11 08:09] giohappy commented on #1233
yes @marthamareal, testing for both harvesters and remote services is needed.

[2022-04-11 08:16] marthamareal commented on #1233
@ElenaGallo Before starting a test run, could you give me some time to add these new test cases and also some other cases which cover newly added features eg(upload size limit).

[2022-04-11 08:34] ElenaGallo commented on #1233
@marthamareal no problem, let me know when I can start.

[2022-04-11 14:10] marthamareal commented on #1233
@ElenaGallo I have added some test-cases and updated the mentioned test-run with them, you can proceed when you're ready

[2022-04-12 11:06] randomorder commented on #1215
existing build for the older version @lpasquali
http://build.geo-solutions.it/jenkins/job/GeoNode-GeoServer-EXT-2.19.x/

please document all the process. We'll review and try to automate it

[2022-04-13 10:09] marthamareal opened #1240 "Enforce unique email on user creation and update"
## Expected Behavior
Since users can log in with either email or username, both fields should be unique.

## Actual Behavior

We can have multiple users with the same email.

## Steps to Reproduce the Problem

  1. Go to user profile and update email to already available email.
  2. Profile will be saved successfully
  3. If the two users have the same password, the first record in the db will be

[2022-04-13 12:08] giohappy opened #1241 "Build Geoserver for GeoNode 2.18.x and 2.19.x to include the fix from GEOS-10437"
https://osgeo-org.atlassian.net/browse/GEOS-10437 has been backoported.
It fixes https://github.com/geosolutions-it/support/issues/1967

A new build of Geoserver for GeoNode 2.18.x and 2.19.x is required.

[2022-04-13 13:49] randomorder commented on #1241
new geoserver WAR files are out [https://artifacts.geonode.org/index.html](https://artifacts.geonode.org/index.html)

I am about to update Master, Stable and Development demos

[2022-04-13 15:54] marthamareal opened #1242 "Unable to download and export Raster datasets"
## Expected Behavior

Users should be able to successfully export all formats(TIFF, PNG,JPEG,...) of a raster dataset.

## Actual Behavior

Exporting any of the available formats raises this exception.
![ss](https://user-images.githubusercontent.com/20810749/163220947-9e1027fd-0df6-4211-a932-b31e7fc8efb4.png)

## Steps to Reproduce the Problem

  1. Go to https://master.demo.geonode.org/catalogue/

[2022-04-13 16:15] marthamareal opened #1243 "Unable to upload dataset style"
## Expected Behavior
Users should be able to upload styles successfully

## Actual Behavior
- Style uploading does not complete, the GeoServer configuration step never ends.
-  multiple GET `upload/progress`  requests return `state: "NONE"`
![ss](https://user-images.githubusercontent.com/20810749/163224857-e72eef85-b700-4216-9b6e-93154c27a3f9.png)

## Steps to Reproduce the Problem

  1. Go to htt

[2022-04-14 09:10] lpasquali commented on #1215
@randomorder is this document good for the scope? https://docs.google.com/document/d/1OoByab707l3HGGIbq4aCKeiw5LUlZ8rCUmv6axSeiP4/edit#heading=h.gjdgxs

[2022-04-14 10:00] randomorder commented on #1215
indeed. Very good

[2022-04-14 10:57] marthamareal commented on #1243
@giohappy @afabiani i think this issue relates with this https://github.com/GeoNode/geonode/issues/9096

[2022-04-14 10:58] randomorder commented on #1215
There's  catch @giohappy
Branches are named after nightly versions
![image](https://user-images.githubusercontent.com/5264230/163377786-400ad2c7-c59c-4f13-86f9-de130b620695.png)

but the POMs are pointing to stable versions of GeoServer
https://github.com/GeoNode/geoserver-geonode-ext/blob/2.19.x/geoserver/pom.xml#L83

I would like to fix this from now one. Please confirm it's of with you to point

[2022-04-14 10:59] randomorder commented on #1215
@lpasquali please create a sepate issue with an estimate for the migration of the jobs to the new build server

[2022-04-14 11:02] afabiani commented on #1243
@marthamareal yes, that PR fixes this one too

[2022-04-14 11:10] ElenaGallo commented on #1233
@marthamareal @giohappy Test run done. [Here](https://studio.cucumber.io/projects/293168/test-runs/654604/overview) the result.

[2022-04-14 14:09] marthamareal opened #1244 "Unable to add category to geostories and dashboards"
## Expected Behavior

- User should be able to add category to geoapps using both Advance and Wizard metadata form

## Actual Behavior
- Category is not saved to geoapps using both Advance and Wizard metadata form.

## Steps to Reproduce the Problem

  1. Go to https://master.demo.geonode.org
  2. select a dashboard/geostory
  3. Edit metadata and add category with both forms. Notice change will n

[2022-04-15 07:55] randomorder opened #1245 "geoserver-geonode-ext using wrong dependency versions in pom.xml"
See https://github.com/GeoNode/geoserver-geonode-ext/blob/2.19.x/geoserver/pom.xml#L83

Branch is called 2.19.x but is pointing to 2.19.5 we should create separate branches for stable versions

[2022-04-15 08:12] randomorder opened #1246 "create stable branches for geoserver-geonode-ext"
- [x] 2.18.6
- [x] 2.19.6
- [x] 2.20.4

[2022-04-15 08:12] randomorder opened #1247 "update POMs for stable branches on geoserver-geonode-ext"
Remember to update the poms in subdirectories as well
- [x] [2.18.6](https://github.com/GeoNode/geoserver-geonode-ext/tree/2.18.6) -> 3.2.x
- [x] [2.19.6](https://github.com/GeoNode/geoserver-geonode-ext/tree/2.19.6) -> 3.3.x
- [x] [2.20.4](https://github.com/GeoNode/geoserver-geonode-ext/tree/2.20.4) -> 4.x, master
- [x] 2.21.x just prepare repo for future release

[2022-04-15 08:13] randomorder opened #1248 "create jenkins jobs for geoserver-geonode-ext stable branches"
Jenkins instance [here](http://build.geo-solutions.it/jenkins/view/GeoNode/)

Create Jobs for
- [x] 2.18.6
- [x] 2.19.6
- [x] -2.20.4

[2022-04-15 08:13] randomorder opened #1249 "update docker images for geoserver-geonode-ext"

[2022-04-15 08:14] giohappy commented on #1246
Geoserver 2.19.6 -> https://github.com/GeoNode/geoserver-geonode-ext/tree/2.19.6
Geoserver 2.18.6 -> https://github.com/GeoNode/geoserver-geonode-ext/tree/2.18.6
Geoserver 2.20.4-> https://github.com/GeoNode/geoserver-geonode-ext/tree/2.20.4

[2022-04-15 09:21] lpasquali commented on #1247
artifacts for 2.18.6 are prepared http://build.geo-solutions.it/jenkins/view/GeoNode/job/GeoNode-GeoServer-EXT-2.18.6/
artifacts for 2.19.6 are prepared http://build.geo-solutions.it/jenkins/view/GeoNode/job/GeoNode-GeoServer-EXT-2.19.6/
artifacts for 2.20.4 are prepared (since yesterday) http://build.geo-solutions.it/jenkins/view/GeoNode/job/GeoNode-GeoServer-EXT-2.20.4

[2022-04-15 09:44] lpasquali commented on #1248
@randomorder all jobs in place

[2022-04-15 09:47] lpasquali commented on #1245
@randomorder I updated status of all epic issues, I am now working with the docker build from built artifacts

[2022-04-15 14:43] lpasquali commented on #1249
Pull request for master geonode-project: https://github.com/GeoNode/geonode-project/pull/284

[2022-04-15 15:08] lpasquali commented on #1249
Published all datadir docker images:

geonode/geoserver_data:2.18.6
geonode/geoserver_data:2.19.6
geonode/geoserver_data:2.20.4

updated related branches

[2022-04-15 16:07] lpasquali commented on #1249
Pull request for 4.x (GeoServer 2.20.4) here: https://github.com/GeoNode/geonode-project/pull/287

[2022-04-15 16:16] randomorder opened #1250 "Analyze Build Times for GeoNode demos"
Looks like it's taking 1 hour to build
http://build.geosolutionsgroup.com/view/GeoNode/job/GeoNode/job/master.demo.geonode.org/636/console

[2022-04-15 16:35] lpasquali commented on #1249
Pull requesty for 3.3.x (GeoServer 2.19.6) here: https://github.com/GeoNode/geonode-project/pull/286

[2022-04-15 17:23] lpasquali commented on #1249
made PR for geonode/geonode
![Screenshot from 2022-04-15 19-22-36](https://user-images.githubusercontent.com/1780406/163601450-3d98cbdd-f632-4abc-a10e-648a67b13905.png)

[2022-04-19 07:38] randomorder commented on #1249
PRs are out @giohappy

[2022-04-19 11:13] randomorder commented on #1215
reopen if needed @giohappy

[2022-04-19 11:13] #1215 closed

[2022-04-19 11:18] #1247 closed

[2022-04-19 11:21] #1246 closed

[2022-04-19 11:22] randomorder commented on #1249
please pu a link to the updated docuentation for the creation of the docker images

[2022-04-19 11:24] lpasquali commented on #1249
@randomorder

 https://docs.google.com/document/d/1OoByab707l3HGGIbq4aCKeiw5LUlZ8rCUmv6axSeiP4/edit#

[2022-04-19 11:32] randomorder commented on #1249
that's the documentation I wrote based on the build process against geonode-project.
But you said you are building from https://github.com/GeoNode/geoserver-docker , right?

[2022-04-19 12:55] lpasquali commented on #1249
@randomorder I referred the same document as we need the same place as geoserver-docker it is fundamental for geonode-project, because its circleci pipeline is depending on docker images for geoserver

[2022-04-19 12:56] randomorder commented on #1249
@set-reminder tomorrow 12:50

[2022-04-19 13:36] lpasquali commented on #1249
@randomorder as required by @giohappy I updated PR for 4.x to 2.19.6, it is here:

[2022-04-19 14:18] lpasquali commented on #1249
@giohappy @randomorder all remaining PR have been made for geonode-project and geonode
all docker images have been uploaded and related branches pushed to github
there should be nothing left as of now

[2022-04-19 15:48] lpasquali commented on #1249
@randomorder linked doc above has been updated with all images, repositories involved on a geoserver update

[2022-04-20 08:03] #1243 closed

[2022-04-20 11:10] randomorder commented on #1249
waiting for feedback from @giohappy

[2022-04-20 11:10] #1248 closed

[2022-04-20 15:46] giohappy commented on #1249
From what I see we're doing, right?

[2022-04-20 17:19] randomorder commented on #1249
we're just waiting for feedback on the testing before closing the issue

[2022-04-21 21:00] giohappy commented on #1250
@randomorder it makes lees when executed manually on the server, however it takes much more then other machines. I suppose this is because the specs of the machine.

[2022-04-21 21:25] giohappy commented on #1249
@randomorder I've just updated Geoserver for stable demo (3.2.x) and it also look good.

[2022-04-22 07:57] randomorder commented on #1249
thanks @giohappy

[2022-04-22 07:57] #1249 closed

[2022-05-03 16:51] EddyCatt commented on #1216
Services are now publicly available
I've successfully added the WMS service
[](https://pro-ags1.dfs.un.org/arcgis/services/UNMISS_Custom_Basemap_CVW/MapServer/WMSServer)
as remote service in
[](https://development.demo.geonode.org/services/284/)

![image](https://user-images.githubusercontent.com/86973955/166501375-5bf447d6-b00a-4c7b-badc-84a3476478a1.png)

[2022-05-03 17:09] EddyCatt commented on #1216
Services are now publicly available
UNMIss would like to use the following WMS services as basemap for GeoNode
(https://pro-ags1.dfs.un.org/arcgis/services/UNMISS_Custom_Basemap_CVW/MapServer/WMSServer)

I'd need support to configure it as basemap DEFAULT_MS2_BACKGROUNDS [GeoNode settings](https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L1455).

[2022-05-04 14:31] mattiagiupponi commented on #1216
@EddyCatt @giohappy
Follows the config to be added under the GeoNode settings file:

[code]

if is needed as a default background, is needed to:
- in the configuration change the "Open Street Map" -> visibility from `TRUE` to `FALSE`
- change the above configuration for unimiss -> visibility from `FALSE` to `TRUE`

The only issue that I see now is that the background looks empty for every resource

[2022-05-04 15:31] mattiagiupponi commented on #1216
@EddyCatt we were able to load a background with ID 3:
config
[code]

The output as a background is the following:
![image](https://user-images.githubusercontent.com/51856725/166716668-2f4861c5-5f03-482b-a57b-4278eb7d2ec4.png)

[2022-05-04 21:03] giohappy opened #1272 "Insights from extensive upload testing and debugging"
The recent debug activity performed on the Almaviva and the Development instances of GeoNode (3.3.x), revealed a list of weaknesses in the upload service. Apparently, they affect 3.3.x particularly, since similar effects haven't been reported with the same frequency on master, although master hasn't been tested as mush as 3.3.x.

3.3.x and master share a big portion of the same upload mechanism, a

[2022-05-05 07:53] mattiagiupponi commented on #1272
@giohappy , we have to consider that during the analysis and fixing of the upload procedure on 33x, the master branch has fixed too, to make it more reliable.
The resource manager is a more reliable mechanism to handle the resource itself than the 33x, but the upload core phase is shared between the two branches.
This means that most of the fixed done on 33x were ported on master too, like:
- Bett

[2022-05-05 10:55] giohappy commented on #1216
@EddyCatt the tile layer configuration is:

[code]

[2022-05-06 13:34] giohappy commented on #1139
moved to https://github.com/GeoNode/documentation/issues/236

[2022-05-06 13:34] #1139 closed

[2022-05-13 08:34] etj opened #1281 "Error adding user with wso2"
## Actual Behavior

When adding more than a user, the second one can't be added because of an error.

## Steps to Reproduce the Problem

  1. People > add user --> Will bring you to `/en/admin/wso2_openid/wso2profile/add/`
  2. Fill in username and pw and press save
  3. Fill in whatever field you need (optional) and press save
  4. You are now in the user list at `/en/admin/wso2_openid/wso2profil

[2022-05-13 08:38] giohappy commented on #1281
@etj looking at the generated username it looks like the current datetime granular to the minute is used: `utente-nuovo-202205131016`.
Tell them to wait at least one minute before entering a new user :D

[2022-05-13 10:06] etj commented on #1281
System is really slow. This error happened when
- pressing `enter` in the confirm password text entry
- and then pressing the "save" button

Doing so, the form seems to be submitted twice, hence the error.

[2022-05-13 10:06] #1281 closed

[2022-05-16 12:20] #1232 closed

[2022-05-17 13:50] #1172 closed

[2022-05-17 13:50] #1225 closed

[2022-05-17 13:51] #1174 closed

[2022-05-17 13:51] #1149 closed

[2022-05-20 07:37] #1233 closed

[2022-05-23 10:19] giohappy opened #1300 "Test GeoNode 3.3.x for 3.3.2 release"
Please @ElenaGallo chat with @marthamareal to review the latest version of the Cucumber suite for 3.3.x before running the tests.

[2022-05-23 16:17] ElenaGallo commented on #1300
Hi @giohappy @marthamareal, all tests passed except these two about the print in the MS viewer.

[Test on Cucumber](https://studio.cucumber.io/projects/291214/test-runs/666426/folder-snapshots/6856125)

![print](https://user-images.githubusercontent.com/56537133/169863119-67e01d7b-08ea-4138-93ae-997fc68befd6.gif)

[2022-05-24 09:01] giohappy commented on #1300
ok,. it's a misconfiguration. The [print info](https://development.demo.geonode.org/geoserver/pdf/info.json) reports the local URL instead of the public URL.
We will check if it's a problem that only affects the demo server.

[2022-05-24 09:15] giohappy opened #1301 "Fix -DPRINT_BASE_URL"

[2022-05-25 10:46] nmco commented on #1198
@taba90 we need to come up with a plan (and estimate) for this that we can review with @etj and @giohappy.

[2022-05-26 07:54] #1164 closed

[2022-05-26 07:56] giohappy commented on #1240
is this blocked @marthamareal?
I'm going to move it in backlog since this is not urgent.

[2022-05-30 09:28] #1241 closed

[2022-05-31 16:04] #1300 closed

[2022-06-01 09:57] marthamareal commented on #1272
Moving this to the backlog, since this information will be useful when working on tasks to improve the upload process.

[2022-06-09 09:49] afabiani opened #1317 "module 'bleach.sanitizer' has no attribute 'ALLOWED_STYLES'"
ADBP branch is affected by: https://github.com/GeoNode/geonode/issues/9263

[2022-06-09 12:12] nmco commented on #1198
@fernandor777 is blocked.

[2022-06-10 09:17] #1317 closed

[2022-06-14 12:56] giohappy opened #1327 "Document the release workflow for GeoNode"
We want to document the release workflow of GeoNode, In order to make it a shared knowledge.

- tagging
- preparation of the packages for PyPi
- publishing on PyPi
- management of changelog
- (else?)

Please @afabiani create a document where the workflow is described and any account / credential needed to perform it.

[2022-06-24 10:10] #937 closed

[2022-06-24 10:12] EddyCatt commented on #1216
UN Basemap configuration should be deployed in production environemnt

[2022-07-01 09:39] #1216 closed

[2022-07-28 15:05] taba90 commented on #1198
**Long implementation**
- persistence (DAO), services layers and domain entities for WPS Access Rule are needed on GeoFence project. As per the other kind of rules supported we will have two separate services a READ only one and an ADMIN one that allows write operation on the geofence persistence layer.
- The configurable fields for a WPS rule: priority (required), user, group, instance, address,

[2022-08-01 13:18] giohappy opened #1377 "GeoNode 4 testing for release"

[2022-08-01 13:18] giohappy opened #1380 "GeoNode 4 testing for release"

[2022-08-01 13:59] ElenaGallo opened #1378 "Registered members with edit/manage permission can not edit Resource"

[2022-08-01 14:00] ElenaGallo opened #1379 "Wrong text for the dashbaord's successfully synced popup"

[2022-08-31 16:32] #1380 closed

[2022-09-06 07:16] marthamareal opened #1415 "Tests for 4.0.1 release"

[2022-09-06 14:14] marthamareal opened #1416 "Disable Change Owner form in Metadata for users with only Edit permissions on the resource"
## Expected Behavior
  Users with only Edit permission should not be able to assign permissions of any sort.

## Actual Behavior
when the user has Edit permission, they can alter data and assign themselves Manage permissions/ full control over a resource. by Assigning themselves as owner through the Metadata form.

## Steps to Reproduce the Problem

  1. Create a dataset as an admin and assign a u

[2022-09-07 11:15] etj commented on #1198
My recap (split on the different projects/modules):

| Repo | Module | Task |
|---|---|---|
|GeoFence| model | Add new class `WPSRule` and related ancillary classes
|GeoFence| persistence | Add DAOs for new classes
|GeoFence| services (api+impl) | Add service for CRUD operations <br/> Add service for authorization requests
|GeoFence| rest (api+impl) | *To be decided if we also want a REST interfac

[2022-09-23 15:52] #1415 closed

[2022-10-14 08:06] marthamareal opened #1446 "Test new importer for Shapefiles, GPKG, GeoJSON and KML files"
## Expected Behavior
All formats should be imported successfully.

**Note** Geoserver (is at 2.20.6)

## Specifications

  - GeoNode version: master.demo
  - Installation method (manual, GeoNode Docker, SPCGeoNode Docker):
  - Platform:
  - Additional details:

[2022-11-10 08:54] giohappy commented on #1446
@marthamareal news on this?

[2022-11-10 08:56] giohappy opened #1474 "Test GeoNode for release 4.0.2"
@marthamareal execute full testing in preparation of the new minor release.

[2022-11-10 10:08] marthamareal commented on #1446
Not yet @giohappy. I will be testing it soon and let you know.

[2022-11-15 08:36] marthamareal commented on #1446
After testing this issue, below are my findings:
- I am unable to upload the GEOJSON files. (.json and .geojson)
- The form does not select multiple files with the same name but different extensions. eg (result.kml, result.json)
- Sometimes the upload starts and it never ends for a user to view the dataset
- Error is thrown on gpkg file i downloaded(no changes made to the downloaded file)
-

NOTE:

[2022-11-15 10:02] mattiagiupponi commented on #1446
Hi @marthamareal

This looks like an issue with the FE. if the file is saved as geojson instead of json, the upload workflow works as expected.
The issue is that in the request the base_file is sent as "undefined"

This is an issue with the FE which does not permit it, maybe @DavidQuartz can help with this

Do you have an example?

This error is thrown by the validation available in the GPKG handl

[2022-11-15 11:00] marthamareal commented on #1446
@mattiagiupponi here are examples of never ending upload on master.demo `exec_id: "daa51977-2772-4e9b-880b-5b952095526a"`  `exec_id: "2be7eb36-1e0e-4b53-9d6d-8f813b1fb20e"`

[2022-11-15 12:17] mattiagiupponi commented on #1446
The case looks interesting.
Actually, the execution_id is still considered in running, but if we call manually the orchestrator, it evaluates the execution as "finished". Needs to go deeper in this.

[code]
 The only reason is that a celery task Result was not yet saved in the DB when the execution was in the evaluation status.

[2022-11-15 13:24] #1198 closed

[2022-11-15 13:59] mattiagiupponi commented on #1446
Analysis for the exec_id: `2be7eb36-1e0e-4b53-9d6d-8f813b1fb20e`

Followings the celery tasks that return the exec_id in the params used for the evaluation
[code]
By running a new exec, looks like that the kwags are empty, while they should contain the number of dataset available:
[code]

Going to analyze the importer behaviour more closer, it may be a regression of this: https://github.com/geosol

[2022-11-15 14:39] mattiagiupponi commented on #1446
The issue is not due a regression of that. In fact the evaluation stop it before the creation analysis of the layer imported:

Follows the celery timing
'task_id', 'date_created', 'date_done', 'status'
[code]
This is the celery log:
[code]

The timing looks good, we can evaluate to check also the total layers during this phase to avoid this issues

[2022-11-16 10:21] giohappy opened #1481 "Geoserver Security Issue in Geonode"
The issue was reported by AteneCOM inside the ticket connected to https://github.com/geosolutions-it/support/issues/2347.
Since this is very critical and sensitive we need to coordinate its management and communication,
The following tasks will be executed **in order**:

- [x] #1482
- [ ] #1483
- [x] #1484
- [x] #1485
- [ ] #1486

[2022-11-16 10:22] giohappy opened #1482 "Fix REST configuration inside Geoserver for GeoNode"

[2022-11-16 10:22] giohappy opened #1483 "Build new Geoserver for GeoNode images"

[2022-11-16 10:22] giohappy opened #1484 "Write our customers about the security issue with Geoserver for GeoNode"

[2022-11-16 10:22] giohappy opened #1485 "Release GeoNode 4.0.2"

[2022-11-16 10:22] giohappy opened #1486 "Include the fix inside the release changelogs"

[2022-11-18 17:20] afabiani commented on #1482
Done @giohappy (check the commits [here](https://github.com/GeoNode/geoserver-geonode-ext))

[2022-11-18 17:36] afabiani commented on #1482
Also artifacts have been rebuild [here](https://artifacts.geonode.org/index.html)

[2022-11-18 19:18] afabiani commented on #1483
Done @giohappy both `data-docker` and `geoserver`

![image](https://user-images.githubusercontent.com/1278021/202785113-e01c45cc-8a8b-4ebf-92c7-98a542132dde.png)